# Settings for the remote testing server
REMOTE_HOST="www.site.se"
REMOTE_PORT="3306"
REMOTE_USER="siteuser"
REMOTE_PASS="reallysecret"
REMOTE_DB="sitedb"

# Settings for the local development server
LOCAL_HOST="127.0.0.1"
LOCAL_USER="root"
LOCAL_PASS="lesssecret"
LOCAL_DB="sitedb"

# Sed file for making changes in the dump before importing it
# SED_REPLACEMENTS=collate.sed

# Settings for rsyncing
# REMOTE_SSH_USER=goodold
# REMOTE_SSH_HOST=www.site.se
# REMOTE_FILES=/home/goodold/www/htdocs/sites/default/files/
# LOCAL_FILES=/Users/hugowett/Sites/site_se/public_html/sites/default/files/
# HTTPD_USER=_www

